%h3.text-center Frequently Asked Questions
%hr
%b Can our product have a global impact?
%p > Yes, because everyone can use the autocomplete feature. inteliLex integrates easily into a text editor and supports work.
%p
%b Is this only for lawyers?
%p In the future it can be used by any user/organization that operates with a big amount of documents.
%p
%b Isn’t googling easier?
%p > No, unless your company’s knowledge base is publicly available :)
%p
%b Doesn’t my computer’s search do the function?
%p > It is more time consuming. Also, today you search if you know what you are looking for. Tomorrow you will get inteliLex recommendations automatically and based on the context.
%p
%b Is it a product or a feature?
%p > Is Dropbox a product or a feature? inteliLex, in its current form, is envisioned as a product.
%p
%b How does the tool approach incorrect/outdated clauses?
%p > A user can mark a clause as irrelevant / outdated / incorrect, and the algorithm will adjust. In the future we may partner with tools that focus on checking legal correctness.
%p
%b Will customers intrust their clients’ personal data?
%p > Personal data is automatically anonymized. It is irrelevant for the algorithm.
%p
%b Can we make it?
%p > We have skills, positive feedback and motivation. Together, we are ready to develop what we’ve started to create.

%hr
= link_to 'Have a question? Comment here!', new_lead_path, class: 'btn btn-lg btn-warning'
%p