%h1
  %strong 10 June 2019
%p  
%h1
  %strong inteliLex - Privacy Policy
%p  
%h1
  %strong Important information
%p
  %strong Prior to obtaining access to the inteliLex application, please read the following information carefully and ensure that you understand each provision. By accessing our site, you confirm that you have read and understood the Privacy Policy and agree to the storing of cookies on your device (see more detailed information below). 
%p
  %strong If you are unable to comply with terms or policies of inteliLex, please do not use our application. Failure to comply with this directive may result in a violation of the applicable laws or regulations. When in doubt, you can always contact us at: support@intelilex.net
%p  
%ol
  %li{:style => "font-weight: 400;"}
    %h1
      %strong inteliLex - overview of information policy
  %ol
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} To use inteliLex, you will need to provide the same identifying information that you use to access the Microsoft account as when you log into it yourself. This may include performing strong customer authentication (in particular, two-factor authentication), when you provide us with initial credentials.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} inteliLex will strive to ensure the accuracy of the information presented in the inteliLex application, although it will not hold any responsibility for any missing or wrong information. You are using any and all information available there at your own risk. Also, you should check the data privacy rules of your internet provider.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} You are solely responsible for the safekeeping of your private information, and  you recognize and agree to using inteliLex at your own risk.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} inteliLex is at an early stage of development. We do not in any way guarantee an error-free process.
%p  
%ol
  %li{:style => "font-weight: 400;"}
    %h1
      %strong Data Protection &amp; Cookies
  %ol
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} By accessing inteliLex, you confirm that you have read and understood the Privacy Policy and agree to the storing of cookies on your device in order to enhance navigation of inteliLex and analyze site usage and traffic. You can block cookies by activating the setting on your browser that allows you to refuse some or all cookies. If you use your browser settings to block all cookies, however (including cookies essential for the provision of services under inteliLex), you may not be able to access all or parts of our site.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} We use the following third-party cookies:
    %ol
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} Google Analytics – website traffic tracking and user targeting;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} Microsoft Account – fetching data about the current user, and;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} Application Insights – gather logs from the application.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} You can specify or change the acceptance or denial of cookies in your browser settings.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data (the 'GDPR') is in effect since 25 May 2018. You can review it here in order to check the rights it grants you with respect to the processing of your personal data:
%p
  %a{:href => "https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A32016R0679"}
    %span{:style => "font-weight: 400;"} https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A32016R0679
  %span{:style => "font-weight: 400;"}  
%ol
  %ol
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} We process your data only for:
    %ol
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} specific purposes, pursuant to the consent you gave us, if applicable (Article 6 (1) letter a GDPR – specific purposes), including providing feedback, newsletter and commercial information;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} the purposes of providing services under inteliLex, according to rules set out in this Privacy Policy (Article 6 (1) letter b GDPR – performing services and ancillary activities);
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} compliance with applicable rules and/or regulations (Article 6 (1) letter c GDPR – compliance with our legal obligations); 
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} building statistical models, in order to manage and improve our application (Article 6 (1) letter f GDPR – our legally legitimate interest, – adapting the content to recipients);
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} the protection of our and your rights (including support provided in accordance with the relevant agreements or policies, including the Customer Support Policy), as well as the rights of other c
        %span{:style => "font-weight: 400;"} ustomers and third parties, in particular
        %span{:style => "font-weight: 400;"} Microsoft (Article 6 (1) letter f GDPR – our legally legitimate interest) – the establishment, exercise or defense of legal claims and providing customer support); and
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} erasure of unnecessary personal data (Article 6 (1) letter f GDPR – your legally legitimate interest) – the protection of your rights).
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} In particular, we process your data in the following manner:
    %ol
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by collecting data provided explicitly by you;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by storing data;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by transferring certain data about the sender to the receiver and vice versa; 
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by using certain account information in order to confirm the swap;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by erasing data;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by providing customer support;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by informing you by e-mail about the progress of transactions and other technical matters; and
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} by sending you feedback, newsletter and commercial information, provided that you have agreed for such action in the inteliLex application interface.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} We obtain your personal data:
    %ol
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} automatically (i.e. with cookies);
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} directly from you; and
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} from [Microsfot?] Ltd (on the basis o ok dodajemu tu ten microsoftf your explicit consent given).
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} The disclosure of your data is voluntary but necessary in order to provide service under inteliLex. Failure to provide data may result in an inability to properly access and/or use inteliLex.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} Unless stored or processed for other lawful purposes, account information comprising personal data, which is not necessary to provide service under inteliLex or operate it, will be erased as soon as it is not essential for the provision of our service.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} We may use cloud databases provided by third parties in order to store your data (including personal data). In particular, we use
      %span{:style => "font-weight: 400;"} Microsoft Azure
      %span{:style => "font-weight: 400;"} .
      %span{:style => "font-weight: 400;"} Our service providers cover the following certificates in particular: ISO 27001 (managing information risks), ISO 27017 (controlling cloud-based information security), ISO 27018 (protecting personal data), SOC 1 (controls over financial reporting), SOC 2 (controls over security, availability and confidentiality), SOC 3 (public report of controls over security, availability and confidentiality), EU Model Contract Clauses (GDPR compliance), FIPS 140-2, Privacy Shield, Cloud Computing Compliance Controls Catalog (C5) (information security for cloud services). For more information on standards, regulations and certifications, please see
      %a{:href => "https://cloud.google.com/security/compliance/#/regions=Europe&industries=Financial_Services"}
        %span{:style => "font-weight: 400;"} this
      %span{:style => "font-weight: 400;"} site. 
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} You possess the rights set out by the GDPR, including the right to access your personal data, the right to the rectification and erasure of personal data (with the reservation of processing personal data on blockchain), the right to the limitation of processing, the right to object against processing, the right to the portability of personal data, and the right to lodge a complaint with the supervisory authority.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} Each time your personal data is processed based on your consent, such consent is voluntary and can be withdrawn at any time. 
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} If you want to exercise your rights regarding cookies, you should provide us with additional information that will allow us to identify you.
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} By accessing inteliLex, you enter into agreement with inteliLex, based on which your account data (including data such as your name and surname, as well as information submitted by you or your payment service provider that maintains an online payment account on your behalf) and certain other data (such as your IP address and email), can be obtained, stored and processed (including, to the extent necessary, transfer of data) by inteliLex Ltd and other recipients. 
    %li{:style => "font-weight: 400;"}
      %span{:style => "font-weight: 400;"} Data processed by us may include in particular identification data (name, surname, date of birth,
      %span{:style => "font-weight: 400;"} address
      %span{:style => "font-weight: 400;"} data, email address, phone number).
%p  
%ol
  %li{:style => "font-weight: 400;"}
    %h1
      %strong Transfer of your personal data outside of the European Economic Area
%p
  %span{:style => "font-weight: 400;"} The data that we collect from you will not be transferred to or stored outside of the European Economic Area. We will take reasonable steps to ensure that your Account Information (including any personal data) is handled securely and in accordance with this Privacy Policy.
%p  
%ol
  %li{:style => "font-weight: 400;"}
    %h1
      %strong Disclosure
%p
  %span{:style => "font-weight: 400;"} We may also disclose your personal data to other third parties in the event that:
%ol
  %ol
    %ol
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} we reasonably consider that we are under duty to disclose and/or share your personal data in order to comply with any legal obligation;
      %li{:style => "font-weight: 400;"}
        %span{:style => "font-weight: 400;"} to protect the rights, property, or safety of inteliLex, our customers, and/or others.
%p  
%ol
  %li{:style => "font-weight: 400;"}
    %h1
      %strong Security
%p
  %span{:style => "font-weight: 400;"} We use industry-standard encryption methods to ensure the security of your personal data in accordance with applicable laws and regulations. We take reasonable precautions to ensure that your data is not lost, misused, accessed, disclosed, altered or destroyed. If you have reason to believe that your personal data is no longer secure, please contact us immediately at: support@intelilex.net
%p  
%ol
  %li{:style => "font-weight: 400;"}
    %h1
      %strong Amendments
%p
  %span{:style => "font-weight: 400;"} We may, without prior notice and liability, for any reason change this Privacy Policy or any other document relating to inteliLex or any features or elements of inteliLex (including technical).
%p
  %span{:style => "font-weight: 400;"}  
